* {
  font-family: 'Roboto', sans-serif;
}

.shadow-down {
  box-shadow: 0 2px 6px grey;
}

.nav-link {
  font-weight: bold !important;
  color: black !important;
}

.active {
  color: orange !important;
}

.active .nav-link {
  color: orange !important;
}

.tile {
  box-shadow: 2px 2px 6px grey;
  max-width: 900px;
  margin: 0 auto;
}

.bold  h1, .bold h2, .bold h3, .bold h4, .bold h5, .bold h6{
  font-weight: 900;
}

.course-details h1{
  font-size: 30px;
}

.course-details h3{
  font-size: 22px;
}
.course-details h5{
  font-size: 19px;
}
.course-details h6{
  font-size: 16px;
}

.course-details p {
  font-weight: 500;
}

.pie {
  --value: 200deg;
  position: relative;
  border: 1px solid grey;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: conic-gradient(
    #4fb1ff 0deg, 
    blue var(--value), 
    hsla(0,0%,80%,.4) var(--value));
}

.overlay {
  position: absolute;
  height: 160px;
  width: 160px;
  background-color: #FFF;
  border-radius: 50%;
  border: 1px solid grey;
  font-weight: 700;
  display: grid;
  place-items: center;
}